#wrapper{
 font-family: 'Roboto', sans-serif;   
 background-color: #2d2d3e;
 height: 2000px;
 text-align: center;
 color: #dbe9ff;

}

#content{
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
}

#header{
    width: 100%;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
}
#subheading #heading #body{
 font-family: 'Roboto', sans-serif;
 text-align: center;
}

#heading {
    margin-top: 150px;
    font-size: 52px;
    font-weight: 700;
}

#subheading {
    
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 20px;
}

#body {
    padding-left: 430px;
    padding-right: 430px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

#footer{
    margin-top: 200px;
    position: relative;
}

#footer-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

#tributes{
    font-size: 16px;
    font-weight: 300;

}

#full{
    margin-top: 50px;
    margin-bottom:50px;
}


a {
    text-decoration: none;
    color: #A9CBFF;
    font-weight: 700;
}

a:hover{
    color: #dbe9ff;
}

